* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#message {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
}