/* USERS LIST */
#list {
    margin-top: 1.3rem;
}

#listTable, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

#btn-back {
    padding: .3rem .5rem;
    border-radius: .5rem;

    font-weight: bold;
    text-decoration: none;
    color: #000;

    display: flex;
    align-items: center;
    gap: 2px;

    position: absolute;
    top: 1rem;
    left: 1rem;

    & img {
        width: 1rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1rem;
        text-align: center;
    }

    #list {
        width: 100%;

        & #listTable {
            margin-inline: auto;
            font-size: .6rem;
        }
    }

    #btn-back {
        padding: .2rem .3rem;
        font-size: .6rem;
        top: .5rem;
        left: .5rem;

        img {
            width: .8rem;
        }
    }
}